 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 20vw;
    height: 45vh;
    border-radius: 50%;
    margin-left: 5rem;
    /* border: 5px solid var(--main-color); */
    box-shadow: 0 0 4rem var(--main-color);
    opacity: .6;
    animation: floatImage 4s ease-in-out infinite;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    -webkit-text-stroke: .4px white;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 25vw;
    border-radius: 50%;
    /* border: 5px solid var(--main-color); */
    /* box-shadow: 0 0 2.5rem var(--main-color); */
    margin-top: 10rem;
    margin-right: 4rem;
    animation: floatImage 4s ease-in-out infinite;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    line-height: 1.2;
    text-align: center;
    margin-bottom: 2.5rem;
}

.about-content .text-animate {
    position: relative;
    width: 44rem;
}

.about-content .text-animate h3 {
    font-size: 2.6rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px #00abf0;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    /* background-position: 0 0; */
    animation: aboutBgText 6s linear infinite;
    animation-delay: 1.5s;
}

/* .about-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: var(--main-color);
    -webkit-text-stroke: 0vw var(--main-color);
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: aboutCursorText 6s linear infinite;
    animation-delay: 2s;
} */

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education h2 {
    margin-bottom: 3rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 3rem;
}

.education-column .education-box {
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
    /* font-weight: 600; */
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 1.6rem;
}

small {
    display: block;
    font-weight: 600;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 5px;
    color: #ef3824ec;
}

.education-content .content p {
    font-size: 1.2rem;
    padding-top: .5rem;
}

.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}

.skills h2 {
    margin-bottom: 3rem;
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}
.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 89%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 83%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 67%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 93%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 74%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 82%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 76%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 58%;
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.3rem;
    margin: 1rem 0 3rem;
}

.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    opacity: 0.5;
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.portfolio .more-projects {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 100px;
    font-size: 1.5rem;
}

.portfolio .more-projects a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: transparent;
    /* border: .2rem solid var(--main-color); */
    border-radius: 50%;
    font-size: 3rem;
    color: var(--main-color);
    margin-left: 3px;
    transition: .5s ease;
}

/* .portfolio .more-projects a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
} */

.portfolio .more-projects a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.portfolio .more-projects a i {
    font-size: 3rem;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
    width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    color: yellow;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home-content h1 {
        font-size: 3.3rem;
    }

    .home-content h3 {
        font-size: 2.5rem;
    }

    .home-img img {
        width: 28vw;
        margin-left: 15rem;
    }

    .about-img img {
        width: 25rem;
    }
}

@media (max-width: 991px) {
    body {
        overflow-x: hidden;
    }

    .header {
        padding: 2rem 3%;
    }

    .home {
        flex-direction: column;
    }

    .home .home-content {
        text-align: center;
    }

    /* .home-content h3 {
        font-size: 2rem;
    }

    .home-content h1 {
        font-size: 3rem;
    } */

    .home-img img {
        width: 30vw;
        margin-top: 8rem;
        margin-right: 15rem;
        /* margin-left: 20rem; */
    }

    .about-img img {
        width: 20vw;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 845px) {
    .home-img img {
        width: 25vw;
        height: 38vh;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    /* .home {
        flex-direction: column;
    } */

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 18vw;
        height: 28vh;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 35vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 5rem;
    }

    .portfolio h2 {
        margin-bottom: 5rem;
    }

    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }

    .home-content h3 {
        font-size: 2.2rem;
    }

    .home-content h1 {
        font-size: 4.2rem;
    }

    .home-img img {
        width: 21vw;
        height: 25vh;
        /* margin-right: 15rem; */
    }
}

@media (max-width: 489px) {
    html {
        font-size: 50%;
    }

    /* .home-content h3 {
        font-size: 2rem;
    } */

    .home-content h1 {
        font-size: 3.6rem;
    }

    .home-img img {
        width: 25vw;
        height: 25vh;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }
}

@media (max-width: 411px) {
    .home-img img {
        width: 24vw;
        height: 20vh;
    }
}

@media (max-width: 385px) {
    .home-content h3 {
        font-size: 1.9rem;
    }

    .home-content h1 {
        font-size: 3.1rem;
    }

    .home-img img {
        width: 25vw;
        height: 20vh;
    }

    .about .about-content {
        width: 100%;
    }

    .about .about-content .text-animate h3 {
        font-size: 2.4rem;
    }

    .about-img img {
        width: 45vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}


/* KEYFRAMES ANIMATION */
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes aboutBgText {
    0%, 10%, 100% {
        background-position: -56.9rem 0;
    }
    65%, 85% {
        background-position: 0 0;
    }
}

/* @keyframes aboutCursorText {
    0%, 10%, 100% {
        width: 0;
    }
    65%, 85% {
        width: 100%;
        opacity: 1;
    }
    75%, 81% {
        opacity: 0;
    }
} */
